<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dev" class="org.example.Dev" autowire="byType">
<!--        # laptop-->
<!--        Setter Injection:-->
<!--        <property name="laptop" ref="laptop"/>-->
<!--        Constructor Injection:-->
<!--        <constructor-arg ref="laptop"/>-->

<!--        # age-->
<!--        Setter Injection:-->
<!--        <property name="age" value="12"/>-->
<!--        Constructor Injection-->
<!--        <constructor-arg value="14"/>-->
    </bean>

    <bean id="laptop" class="org.example.Laptop" primary="true">
    </bean>

    <bean id="desktop" class="org.example.Desktop">
    </bean>

</beans>